body{
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	margin: 0px auto;
	background: #edeef0;
}

#header{
	background: #4a76a8;
	height: 45px;
	width: 100%;
	margin: 0px auto;
	top: 0px;
	position: fixed;
}

#main_container{
	//border: 1px solid black;

	max-width: 815px;
	margin: 0px auto;
	margin-top: 60px;
	padding: 10px;
	overflow: auto;
}

.posts{
	width: 470px;
	height: 170px;
	padding: 15px;
	border: 1px solid #d7d8db;
	border-radius: 5px;
	margin: 0px auto;
	background: white;
	margin-bottom: 12px;
}

.sidenav {
	width: 140px;
	position: fixed;

	//background-color: #ffffff;
	//border: 1px solid #d7d8db;

	border-radius: 5px;
	float: left;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 12.5px;
    color: #285473;
    display: block;
    margin-bottom: 4px;
}
.sidenav a:hover {
    background: #e1e5eb;
    border-radius: 3px;
}

#right-nav{
	border: 1px solid #d7d8db;
	background: #ffffff;
	width: 140px;
	border-radius: 4px;
	height: 250px;
	float: right;
	margin-top: 0px;
}

.user-user{
	max-width: 150px;
	height: 100%;
	float: right;
	margin-right: 10%;
	cursor: pointer;
}

.user-user:hover{
	background: #3d6898;
}

.user-user-txt{
	color: #ffffff;
	padding: 0px 10px 0px 10px;
	font-size: 12.5px;
	margin-top: 15px;
}

.fa-home,
.fa-user,
.fa-user-friends,
.fa-clipboard,
.fa-sticky-note,
.fa-cog,
.fa-sign-out-alt{
	font-size: 15.5px;
	margin-right: 8px;
	color: #99b0c6;
}