.pro-container{
	width: 470px;
	//height: 170px;
	padding: 15px;
	border: 1px solid #d7d8db;
	border-radius: 5px;
	margin: 0px auto;
	background: white;
	margin-bottom: 2px;
}

table{
	width: 470px;
	font-size: 13.5px;
}

.td-title{
	color: #9e9e9e;
	text-align: left;
}

.td-data{
	color: #424242;
}

.user-info{
	//border: 1px solid black;
}

.edit-info{
	//border: 1px solid black;
	//width: 125px;
	//margin-left: 142px;
	margin-top: 10px;
	text-align: center;
}

.edit-info-btn{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color: #5181b8;
    color: #FFFFFF;
    border: 1px solid #5181b8;
    border-radius: 4px;
    padding: 9px 15px;
    font-size: 12.5px;
    outline: none;
    cursor: pointer;
}

.cur-profile{
	background: #e1e5eb;
	border-radius: 3px;
}

#pro-pic{
	width: 90px;
	height: 90px;
	//border: 1px solid #d7d8db;
	border-radius: 50%;
	object-fit: cover;
	margin: 0 auto;
	display: block;
	cursor: pointer;
	margin-bottom: 10px;
}







#post-container-pro{
	width: 500px;
	//padding: 15px;
	border: 1px solid #d7d8db;
	border-radius: 5px;
	margin: 0px auto;
	background: white;
	margin-top: 10px;
}

.post-container-pro-header{
	padding: 10px 10px 10px 15px;
	border-bottom: 1px solid #d7d8db;
}

.full-name{
	font-size: 13px;
	color: #285473;
}

.date-time{
	font-size: 12px;
	color: #9e9e9e;
	margin-top: 5px;
}

.main-post{
	//border: 1px solid black;
	padding: 15px;
	font-size: 13px;
	color: #424242;
}


.zero-result{
    font-size: 13px;
    text-align: center;
    border: 1px solid #d7d8db;
    max-width: 470px;
    margin: 0px auto;
    padding: 15px;
    border-radius: 5px;
    background: #ffffff;
    color: #424242;
    margin-top: 10px;
}

.zero-result{
    font-size: 13px;
    text-align: center;
    border: 1px solid #d7d8db;
    max-width: 470px;
    margin: 0px auto;
    padding: 15px;
    border-radius: 5px;
    background: #ffffff;
    color: #424242;
}