.settings-container{
    width: 470px;
    //height: 170px;
    padding: 15px;
    border: 1px solid #d7d8db;
    border-radius: 5px;
    margin: 0px auto;
    background: white;
    margin-bottom: 12px;
}

table{
    width: 100%;
}

td{
    padding: 5px;
}


.label{
    font-size: 13px;
    color: #9e9e9e;
}

.delete-label{
    font-size: 13px;
    color: #9e9e9e;
}

.fname{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    width: 150px;
    padding: 10px 8px;
    font-size: 13px;
    color: #424242;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    resize: none;
}

.lname{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    width: 150px;
    padding: 10px 8px;
    font-size: 13px;
    color: #424242;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    resize: none;
    margin-left: 10px !important;
}

.about{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    width: 220px;
    padding: 10px 8px;
    font-size: 13px;
    color: #424242;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    resize: none;
    height: 80px;
    margin-top: 3px;
}

.city{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    width: 220px;
    padding: 10px 8px;
    font-size: 13px;
    color: #424242;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}

.email{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    width: 220px;
    padding: 10px 8px;
    font-size: 13px;
    color: #424242;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    margin-top: 3px;
}

.save-btn{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin-left: 111px;
    background-color: #5181b8;
    color: #FFFFFF;
    border: 1px solid #5181b8;
    border-radius: 4px;
    padding: 9px 15px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12.5px;
    outline: none;
    cursor: pointer;
}

.delete-btn{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color: #E53935;
    color: #FFFFFF;
    border: 1px solid #E53935;
    border-radius: 4px;
    padding: 9px 15px;
    font-size: 12.5px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.cur-settings{
    background: #e1e5eb;
    border-radius: 3px;
}







.upload-photo-container{
    padding: 5px;
   // border: 1px solid black;
    margin-bottom: 5px;
}

.upload-label{
    font-size: 13px;
    color: #9e9e9e;
    display: inline-block;
    margin-right: 22px;
}

.upload-btn{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color: #5fb053;
    color: #FFFFFF;
    border: 1px solid #5fb053;
    border-radius: 4px;
    padding: 9px 15px;
    font-size: 12.5px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
}

.file-label{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background-color: #5181b8;
    color: #FFFFFF;
    border: 1px solid #5181b8;
    margin-right: 10px;
    border-radius: 4px;
    padding: 9px 15px;
    font-size: 12.5px;
    outline: none;
    cursor: pointer;
}

.frm-container{
    display: inline-block;
}

input[type=file] {
    color: #9e9e9e;
    font-size: 13px;
    display: none;
}

