body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin: 0px auto;
    background: #edeef0;
}

#header{
    background: #4a76a8;
    height: 45px;
    width: 100%;
    margin: 0px auto;
}

#container{
    max-width: 310px;
    margin: 0px auto;
    margin-top: 80px;
    padding: 25px 20px;
    text-align: center;
    border: 1px solid #e3e4e8;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-bottom: 10px !important;
}

.container-header{
    text-align: center;
    font-size: 18.5px;
    color: #424242;
    margin: 0px auto;
    margin-bottom: 10px;
}

.container-body{
    overflow: auto;
    padding: 10px 15px 0px 15px;
}

input[type=text], input[type=password]{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    width: 100%;
    padding: 10px 8px;
    font-size: 14px;
    color: #424242;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus{
    border: 1px solid #5181b8;
}

.button{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    width: 36%;
    float: left;
    background-color: #5181b8;
    color: #FFFFFF;
    border: 1px solid #5181b8;
    border-radius: 4px;
    padding: 9px 20px;
    margin: 0px 0px 5px 0px;
    font-size: 14px;
    outline: none;
    cursor: pointer;

}

.button_sup{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    width: 61%;
    background-color: #5fb053;
    color: #FFFFFF;
    border: 1px solid #5fb053;
    border-radius: 4px;
    padding: 9px 20px;
    margin: 0px 0px 5px 0px;
    font-size: 14px;
    float: right;
    outline: none;
    cursor: pointer;
}

.error{
    font-size: 12px;
    color: #424242;
    margin-bottom: 10px;
    border: 1px solid #f2ab99;
    padding: 10px 24px;
    border-radius: 4px;
    background: #fdefe9;
}

